.Companies {
    text-align: center;
  }
  
  .Companies-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Companies-logo {
      animation: Companies-logo-spin infinite 20s linear;
    }
  }
  
  .Companies-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Companies-link {
    color: #61dafb;
  }
  
  h2{
    color: black;
    text-align: center;
  }
  
  .mainContainer{
    margin: 10px;
  }
  
  .mainContainer .container{
    padding: 40px 0;
  }
  
  .mainContainer .container img{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  
  div h3{
    color: white;
    font-weight: bold;
  }
  
  @keyframes Companies-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }