.hero-section {
  background: cover;
  z-index: 0;
  height: 540px;
  width: 100%;
}

.transText {
  line-height: 11vw;
}

@media only screen and (max-width: 720px) {
  .hero-text {
    font-size: 2.25rem /* 36px */;
    line-height: 2.5rem /* 40px */;
  }
  .hero-wrapper {
    width: 500px;
  }
}

@media only screen and (max-width: 640px) {
  .hero-section {
    height: 700px;
  }
  .hero-text {
    font-size: 1.8rem /* 29px */;
    line-height: 2.2rem /* 34px */;
  }
  .hero-wrapper {
    width: 300px;
  }
  .hero-image {
    width: 100%;
    height: 670px;
  }
  .btn {
    font-size: 13px;
  }
  .transText {
    line-height: 20vw;
  }
}

/* .drop-1 {
  animation: drop-1 1s ease 300ms backwards;
}
.drop-2 {
  animation: drop-2 1200ms ease 500ms backwards;
} */

/* @keyframes drop-1 {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes drop-2 {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
} */
