nav {
  background-color: black;
  z-index: 20;
}

.nav-txt-design {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.nav-hover {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.nav-contact-btn {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.nav-hover:hover {
  background: #0f0f0f;
}

.nav-contact-btn {
  position: relative;
  display: block;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-decoration: none;
  margin: 30px 0;
  background: #0085ad;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 10;
}

.nav-contact-btn::before{
  background: #10aedf;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.nav-contact-btn::before{
  width: 0%;
  height: 100%;
}

.nav-contact-btn:hover::before{
  width: 100%;
}

.nav-contact-inner {
  position: absolute;
  z-index: 10;
  width: 100%;
  font-weight: 600;
}

.drop-bor {
  border: 1px solid #1f1f1f;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.nav-sm-control {
  transition: all 0.23s ease-in-out;
  -webkit-transition: all 0.23s ease-in-out;
  -moz-transition: all 0.23s ease-in-out;
  -ms-transition: all 0.23s ease-in-out;
  -o-transition: all 0.23s ease-in-out;
}

.nav-sm-hide {
  top: -100vh;
}

.nav-sm-show {
  top: 0;
}

@media screen and (min-width: 800px) {
  nav {
    height: 4rem;
    padding: 0 0.2rem;
  }
}
nav {
  background-color: black;
  z-index: 20;
}

.nav-txt-design {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.nav-hover {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.nav-contact-btn {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.nav-hover:hover {
  background: #0f0f0f;
}

.nav-contact-btn {
  position: relative;
  display: block;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-decoration: none;
  margin: 30px 0;
  background: #0085ad;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  z-index: 10;
}

.nav-contact-btn::before{
  background: #10aedf;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.nav-contact-btn::before{
  width: 0%;
  height: 100%;
}

.nav-contact-btn:hover::before{
  width: 100%;
}

.nav-contact-inner {
  position: absolute;
  z-index: 10;
  width: 100%;
  font-weight: 600;
}

.drop-bor {
  border: 1px solid #1f1f1f;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.nav-sm-control {
  transition: all 0.23s ease-in-out;
  -webkit-transition: all 0.23s ease-in-out;
  -moz-transition: all 0.23s ease-in-out;
  -ms-transition: all 0.23s ease-in-out;
  -o-transition: all 0.23s ease-in-out;
}

.nav-sm-hide {
  top: -100vh;
}

.nav-sm-show {
  top: 0;
}

@media screen and (min-width: 800px) {
  nav {
    height: 4rem;
    padding: 0 0.2rem;
  }
}
