@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slide,
.slide img {
  width: 580px;
  border-radius: 10px;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.slide {
  margin: 20px 0px;
  filter: blur(3px);
  transform: scale(0.7);
  transition: 0.6s;
  border-radius: 12px;
}
.slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1);
  transition: 0.8s;
  border-radius: 10px;
}
.carouselContainer {
  overflow: hidden;
  padding-top: 1px;
  width: 100%;
  background-color: white;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

.arrow {
    font-size: 50px;
    padding: 5px 15px;
    display: flex;
    position: absolute;
    top: 40%;
    color: gray;
    width: 50px;
    z-index: 100;
    cursor: pointer;
  }
  .custom-prev-arrow {
    left: 0;
    justify-content: flex-start;
  }
  .custom-next-arrow {
    right: 0;
    justify-content: flex-end;
  }

@media screen and (max-width: 996px) {
  .slide,
  .slide img {
    width: 450px;
    aspect-ratio: 4/3;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .slide,
  .slide img {
    width: 420px;
    aspect-ratio: 4/3;
    border-radius: 5px;
  }
  .arrow {
    font-size: 50px;
    padding: 5px 15px;
    display: flex;
    position: absolute;
    top: 30%;
    color: gray;
    width: 50px;
    z-index: 100;
    cursor: pointer;
  }
  .custom-prev-arrow {
    left: 0;
    justify-content: flex-start;
  }
  .custom-next-arrow {
    right: 0;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 554px) {
  .slider {
    height: 400px;
  }
  .slide,
  .slide img {
    height: 200px;
    border-radius: 10px;
  }
}
@media screen and (max-width: 491px) {
  .slide img {
    height: 280px;
    border-radius: 10px;
    width: 350px;
    position: relative;
    margin: auto;
  }
  .slide {
    height: 280px;
  }
  .slider {
    height: 300px;
  }
  .arrow {
    display: none;
  }
}