@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Prompt:wght@400;600;700&display=swap");

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slide2 img {
  width: 200px;
  height: 200px;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.slide2 {
  transition: 0.6s;
  width: 100%;
}
.slide-active2 {
  opacity: 1;
  transition: 0.8s;
}
.carouselContainer2 {
  overflow: hidden;
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.wrapper2 {
    display: flex;
}

.arrow2 {
    font-size: 50px;
    padding: 5px 15px;
    display: flex;
    position: absolute;
    top: 25%;
    color: gray;
    width: 50px;
    z-index: 10;
    cursor: pointer;
  }
  .custom-prev-arrow2 {
    left: 0;
    justify-content: flex-start;
  }
  .custom-next-arrow2 {
    right: 0;
    justify-content: flex-end;
  }

@media screen and (max-width: 996px) {
  .slide2 img {
    width: 200px;
    aspect-ratio: 4/3;
  }
}
@media screen and (max-width: 768px) {
  .slide2 img {
    width: 200px;
    aspect-ratio: 4/3;
  }
}
@media screen and (max-width: 554px) {
/*  .slider2 {
    height: 300px;
  }
*/
  .slide2 img {
    height: 200px;
  }
}
@media screen and (max-width: 491px) {
  .slide2 img {
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
  }
  .arrow2 {
    display: none;
  }
  .wrapper2 {
    display: block;
  }
}
